# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ *.sln
/ obj
/ bin
/ math_tool.vcxproj.user
/ math_tool.vcxproj.filters
/ math_tool.vcxproj
/.vs
/Debug
/math_tool/Debug
*.vcxproj
*.filters
*.user
/math_tool/x64/Debug
/x64/Debug
/Math tool installer
/math_tool.sln
/f00e06ee4bfba15ade36b00c9b1c95765e37f9c2.gif@!web-article-pic.jpg
.vscode/tasks.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
out/language/english.json
out/*
build/*